[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/usr/local/bin/jupyter notebook --ip='*' --NotebookApp.token='' --NotebookApp.password='' --port=8080 --no-browser
User=jupyter
Group=root
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target